/* NavBar styles */

.PanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  box-sizing: border-box;
}

/* Left Side (Logo) */
.PanelHeader_left {
  display: flex;
  align-items: center;
}

/* middle header panel.module.css */
.PanelHeader_middle {
  display: flex;
  align-items: center;
  gap: 16px; /* Adds space between search input and Pearls */
  flex: 1; /* Take available space */
  padding-left: 24px;
  padding-right: 32px;
}

.searchBar {
  padding-left: 12px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #2c2c2c; /* Matches dark background */
  border-radius: 15px; /* Rounded corners */
  max-width: 300px; /* Adjust width if needed */
  color: #aaa; /* Placeholder color */
  transition: border 0.3s ease; /* Smooth transition */
}

.searchBar input {
  background-color: transparent; /* No background for input */
  border: none;
  padding: 10px 14px;
  color: #fff;
  font-size: 16px;
  outline: none;
  width: 250px; /* Adjust width as needed */
}

.searchBar:focus-within {
  border-color: #1e8afe; /* Blue outline on focus */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); /* Focus shadow */
}

.PanelHeader_middle span {
  color: #ccc;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.PanelHeader_middle span:hover {
  color: #fff; /* Lightens color on hover */
}

/* Right header panel.module.css */

.menuItems {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menuItems span {
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
}

.connectWallet {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.connectWallet:hover {
  background-color: #135abe;
}

.menuIcon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

/* Add this at the bottom of your CSS */

@media (max-width: 768px) {
  .search {
    display: none; /* Hide search on smaller screens */
  }

  .menuItems {
    gap: 8px;
  }

  .connectWallet {
    padding: 6px 12px;
  }

  .menuIcon {
    font-size: 28px;
  }
}
